<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Home Page</h1>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium 
        iste dolores distinctio dignissimos modi quasi, illum libero recusandae, 
        corporis consequuntur fugiat, reiciendis voluptate exercitationem sint 
        eligendi omnis nostrum autem accusamus?
    </p>
    
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium 
        iste dolores distinctio dignissimos modi quasi, illum libero recusandae, 
        corporis consequuntur fugiat, reiciendis voluptate exercitationem sint 
        eligendi omnis nostrum autem accusamus?
    </p>

</body>
</html>